* { padding: 0px; margin: 0px;}

.container {
    display:grid;
    grid-template-areas: "header" "content" "footer";
}

.containerHeader {
    grid-area: header;
    background-image: url("images/header-back.jpg");
    background-size: 100%;    
    grid-template-areas: "menu" "banner banner";
}

.containerBanner {
    grid-area: banner;
}

.containerContent {
    grid-area: content;
    grid-template-areas: "premiacoes premiacoes" "inscreva-se";
}